body{
  background: #EEEFBD;

}
.cabecera{
  background: #0B3D87;
  height: 73px;
}
.foto1 { 
  padding: 0px; 
  margin: 0px;  
  float: left; 
  width: 75px; 
}
.foto3{
  float: right;
  width: 40px;
  padding-left: 66%;
}
/***#btnFiltrar{
  float: right;
  padding: 4px 10px;
  width: 20%;
  font-family: Arial;
  border: 10px;
  background: #0B3D87;
  color: white;
  FONT-SIZE: 12pt;
  padding-right: 4%;
}
#btnFiltrar:hover {
  background: #1EBE5E;
}***/
nav ul li{
  display: inline-block;
	line-height: 100%;
}
.nav > li {
  float: left;
  line-height: 100%;
}
nav ul li a {
  display: block;
  padding: 1px 2px;
  width: 100%;
  text-decoration: none;
  background: #f7e866;
  margin: 0px;
  font-family: Arial;
  color: black;
  FONT-SIZE: 15pt;
}
nav ul li a:hover {
  background: #1EBE5E;
  display: block;
}
nav li:hover > ul{
  display: block;
}
nav li ul{
  display: none;
}
.tarjeta{
  padding: 0px 1px 5px;
  background: #ACB7C8;
  justify-content: center;
  width:200px;
  border: 1px solid rgb(247, 204, 204);
  box-shadow: 2px 2px 8px 4px #f8baf3;
  border-radius:4px;
  font-family: Arial;
  margin-bottom: 20px; 
  
}
  .cuerpo{
    padding: 1px;
    background: #f7e866;
    text-align: center;
  }
.titulo{
  text-align: center;
}
.imagen{
  display: flex;
  margin: auto;
  width: 200px;
  height: 200px;
}
.contenedor{
  margin: 0 0 0 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

/*barra de busqueda*/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.buscador {
  padding: 0 100px 0 200px; 
  position: relative;
  right: 0px;
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 0 46px 0 10px;
	border-color: #1EBE5E;
  border-radius: 20px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 2px;
  margin-top: 15px;
  color: rgb(202, 191, 191);
  font-family: Verdana;
	font-size: 15px;
  
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 5px;
  border: none;
	margin-top: 2px; /* margin-top + border-width */
  margin-right: 0px; /* border-width */
	background: transparent;
  color: #1EBE5E;
  font-size: 20px;
  line-height: 5px;
  
}

.flexsearch--input:focus {
  outline: none;
  border-color: rgb(218, 205, 205);
}

.flexsearch--input:focus.flexsearch--submit {
 	color: rgb(202, 190, 190); 
}

.flexsearch--submit:hover {
  color: rgb(190, 181, 181);
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

.filter{
  display: none;
}
#sort{
  background: #f7e866;
  margin: 0px;
  font-family: Arial;
  border-color: #1EBE5E;
  border-radius: 20px;
  border-width: 2px;
  padding: 5px 8px;
  position: relative;
  left: 90px;
  top: 46px;
}

